<a href="https://colab.research.google.com/github/pdivya-mca/Pattern-Programs-Using-Python/blob/main/Number_Pattern_Inc_Dec_Columns_Python_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Increasing Triangle -- Incrementing Columns -- Starting Value Same**

In [ ]:
n=int(input())

for i in range(n): #rows
  p=1
  for j in range(i+1): #cols
    print(p,end=" ")
    p=p+1
  print() # after 1 row print in new line

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# **Increasing Triangle -- Decrementing Columns -- Starting Value Same**

In [ ]:
n=int(input())

for i in range(n): #rows
  p=n
  for j in range(i+1): #cols
    print(p,end=" ")
    p=p-1
  print() # after 1 row print in new line

5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

# **Left Triangle -- Increment Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=1
  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print (p,end=" ")
    p=p+1
  print()

5
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

# **Left Triangle -- Decrement Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=n
  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print (p,end=" ")
    p=p-1
  print()

5
          5
        5 4
      5 4 3
    5 4 3 2
  5 4 3 2 1

# **Right Sided Triangle -- Decrementing Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=1
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n):
    print(p, end=" ")
    p=p+1
  
  print()

5
  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

# **Right Sided Triangle -- Decrementing Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=n
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n):
    print(p, end=" ")
    p=p-1
  
  print()

5
  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

# **Hill Pattern -- Strainght Line -- Incrementing Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=1
  for j in range(i,n):
    print(" ",end=" ")
  
  for j in range (i):
    print(p,end=" ")
    p=p+1
  for j in range (i+1):
    print(p,end=" ")
    p=p-1

  print()

5
          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

# **Reverse Hill -- Decerementing Columns**

In [ ]:
n=int(input())

for i in range(n):
  p=1
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")
    p+=1

  for j in range(i,n):
    print(p,end=" ")
    p-=1

  print()

5
  1 2 3 4 5 4 3 2 1
    1 2 3 4 3 2 1
      1 2 3 2 1
        1 2 1
          1

# **Reverse Hill -- Decrementing Column**

In [ ]:
n=int(input())

for i in range(n):
  p=n
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")
    p+=1

  for j in range(i,n):
    print(p,end=" ")
    p-=1

  print()

5
  5 6 7 8 9 8 7 6 5
    5 6 7 8 7 6 5
      5 6 7 6 5
        5 6 5
          5

# **Left Pascal's Triangle -- Incrementing Columns**

In [ ]:
n=int(input())

for i in range(n-1):
  p=1
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

for i in range(n):
  p=1
  for j in range(i,n):
    print(p,end=" ")
    p+=1
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# **Left Pascal's Triangle -- Decrementing Columns**

In [ ]:

n=int(input())

for i in range(n-1):
  p=n
  for j in range(i+1):
    print(p,end=" ")
    p-=1
  print()

for i in range(n):
  p=n
  for j in range(i,n):
    print(p,end=" ")
    p-=1
  print()

5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

# **Decrementing Column -- Ending Value Same Pattern Program**

In [ ]:
n=int(input())
k=5
for i in range(n):
  p=k
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n):
    print(p,end=" ")
    p-=1
  print()
  k-=1

5
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1