<a href="https://colab.research.google.com/github/pdivya-mca/Pattern-Programs-Using-Python/blob/main/Number_Pattern_Inc_Dec_Rows_Python_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Number Pattern Programs -- Increasing Rows**

# **Increasing Triangle -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n): #rows
  for j in range(i+1): #cols
    print(p,end=" ")
  p=p+1
  print() # after 1 row print in new line

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# **Increasing Triangle -- Floyd Triangle**

In [ ]:
n=int(input())
p=1
for i in range(n): #rows
  for j in range(i+1): #cols
    print( p,end=" ")
    p+=1
  print() # after 1 row print in new line

5
0
1  2
3  4  5
6  7  8  9
10  11  12  13  14

# **Decreasing Triangle -- Incremanting Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  p-=1
  print()

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# **Left Triangle -- Increment Rows**

In [ ]:
n=int(input())
p=1
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print (p,end=" ")
  p=p+1
  print()

5
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

# **Left Triangle - Decrementing Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print (p,end=" ")
  p=p-1
  print()

5
          5
        4 4
      3 3 3
    2 2 2 2
  1 1 1 1 1

# **Right Sided Triangle -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n):
    print(p, end=" ")
  p=p+1
  
  print()

5
  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

# **Right Sided Triangle -- Decrementing Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n):
    print(p, end=" ")
  p=p-1
  
  print()

5
  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

# **Hill Pattern -- Strainght Line -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n):

  for j in range(i,n):
    print(" ",end=" ")

  for j in range (i):
    print(p,end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p=p+1

  print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

# **Hill Pattern -- Strainght Line -- Decrementing Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):

  for j in range(i,n):
    print(" ",end=" ")

  for j in range (i):
    print(p,end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p=p-1

  print()

5
          5
        4 4 4
      3 3 3 3 3
    2 2 2 2 2 2 2
  1 1 1 1 1 1 1 1 1

# **Hill Pattern -- Inbetween Numbers -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n):

  for j in range(i,n):
    print("",end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p=p+1

  print()

5
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

# **Hill Pattern -- Inbetween Numbers -- Incrementing Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):

  for j in range(i,n):
    print("",end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p=p-1

  print()

5
     5
    4 4
   3 3 3
  2 2 2 2
 1 1 1 1 1

# **Reverse Hill Pattern -- Increamenting Rows**

In [ ]:
n=int(input())
p=1
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")

  for j in range(i,n):
    print(p,end=" ")
  p+=1

  print()

5
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

# **Reverse Hill Pattern -- Decreamenting Rows**

In [ ]:
n=int(input())
p=n
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")

  for j in range(i,n):
    print(p,end=" ")
  p-=1

  print()

5
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

# **Diamond Pattern -- Increamenting Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):

  for j in range(i,n):
    print(" ",end=" ")

  for j in range (i):
    print(p,end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p+=1
  
  print()

for i in range(n):

  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")

  for j in range(i,n):
    print(p,end=" ")
  p+=1

  print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

# **Diamond Pattern -- Increamenting Rows -after middle- Decrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):

  for j in range(i,n):
    print(" ",end=" ")

  for j in range (i):
    print(p,end=" ")

  for j in range (i+1):
    print(p,end=" ")
  p+=1
  
  print()

for i in range(n):

  for j in range(i+1):
    print(" ",end=" ")

  for j in range (i,n-1):
    print(p, end= " ")

  for j in range(i,n):
    print(p,end=" ")
  p-=1

  print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

# **Sandglass pattern -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):

  for j in range(i+1):
    print(" ",end=" ")
  
  for j in range(i,n-1):
    print(p,end=" ")
  
  for j in range(i,n):
    print(p, end=" ")
  p+=1
  
  print()

for i in range(n):

  for j in range(i,n):
    print(" ",end=" ")
  
  for j in range(i):
    print(p,end=" ")
  
  for j in range(i+1):
    print(p, end=" ")
  p+=1
  
  print()

5
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5
        6 6 6
      7 7 7 7 7
    8 8 8 8 8 8 8
  9 9 9 9 9 9 9 9 9

# **Sandglass pattern -- Incrementing Rows -- After Middle -- Decrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):

  for j in range(i+1):
    print(" ",end=" ")
  
  for j in range(i,n-1):
    print(p,end=" ")
  
  for j in range(i,n):
    print(p, end=" ")
  p+=1
  
  print()

for i in range(n):

  for j in range(i,n):
    print(" ",end=" ")
  
  for j in range(i):
    print(p,end=" ")
  
  for j in range(i+1):
    print(p, end=" ")
  p-=1
  
  print()

5
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5
        4 4 4
      3 3 3 3 3
    2 2 2 2 2 2 2
  1 1 1 1 1 1 1 1 1

# **Left Pascal's Triangle -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  p+=1
  print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

# **Left Pascal's Triangle -- Incrementing Rows -- After Middle -- Decrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  p-=1
  print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# **Right Pascal -- Incrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):
  for j in range (i,n):
    print(" ",end=" ")
    
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print(p,end=" ")
  p+=1
  print()

5
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5
    6 6 6 6
      7 7 7
        8 8
          9

# **Right Pascal -- Incrementing Rows -- After Middle -- Decrementing Rows**

In [ ]:
n=int(input())
p=1
for i in range(n-1):
  for j in range (i,n):
    print(" ",end=" ")
    
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print(p,end=" ")
  p-=1
  print()

5
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

# **Butterfly -- Incrementing Rows**

In [ ]:
n=int(input())
p=1

for i in range(n-1):
  for j in range(i+1):
    print(p,end=" ")

  for j in range(i,n-1):
    print(" ", end=" ")

  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print(p,end=" ")
  p+=1
  
  print()

for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  
  for j in range(i):
    print(" ",end=" ")

  for j in range(i+1):
    print(" ", end=" ")

  for j in range(i,n):
    print(p,end=" ")
  p+=1

  print()

5
1                   1
2 2               2 2
3 3 3           3 3 3
4 4 4 4       4 4 4 4
5 5 5 5 5   5 5 5 5 5
6 6 6 6       6 6 6 6
7 7 7           7 7 7
8 8               8 8
9                   9

# **Butterfly -- Incrementing Rows -- After Middle -- Decrementing Rows**

In [ ]:
n=int(input())
p=1

for i in range(n-1):
  for j in range(i+1):
    print(p,end=" ")

  for j in range(i,n-1):
    print(" ", end=" ")

  for j in range(i,n):
    print(" ",end=" ")

  for j in range(i+1):
    print(p,end=" ")
  p+=1
  
  print()

for i in range(n):
  for j in range(i,n):
    print(p,end=" ")
  
  for j in range(i):
    print(" ",end=" ")

  for j in range(i+1):
    print(" ", end=" ")

  for j in range(i,n):
    print(p,end=" ")
  p-=1

  print()

5
1                   1
2 2               2 2
3 3 3           3 3 3
4 4 4 4       4 4 4 4
5 5 5 5 5   5 5 5 5 5
4 4 4 4       4 4 4 4
3 3 3           3 3 3
2 2               2 2
1                   1